<p>
This application generates a set of library paging lists for Multnomah County Library (MCL) branches. While it is configured for MCL, it could easily be configured for any other library utilizing the SirsiDynix Symphony integrated library system.</p>

<p>
The application has two purposes: 1) to provide simple, clear, paging lists for MCL branches; and 2) to demonstrate the capabilities of the LibILSWS code library, which it utilizes to communicate with the SirsiDynix system.
</p>
