<div class="center-block">
    <table class="center-block">
        <tr class="white">
            <td colspan="7">&nbsp;</td>
        </tr>
        <tr class="white">
            <th class="title" colspan="7">{{ name }} {{ type }} Paging List for {{ today }}</th>
        </tr>
        <tr class="white">
            <th>Date:</th>
            <td>&nbsp;</td>
            <th>Searcher:</th>
            <td colspan="2">&nbsp;</td>
            <th>Number Found:</th>
            <td>&nbsp;</td>
        </tr>
        <tr class="white">
            <th>Date:</th>
            <td>&nbsp;</td>
            <th>Searcher:</th>
            <td colspan="2">&nbsp;</td>
            <th>Number Found:</th>
            <td>&nbsp;</td>
        </tr>
        <tr class="white">
            <td class="instructions" colspan="7">Please mark where you finish searching. Start from the beginning of the list.</td>
        </tr>
