<div class="center-block">
    <p class="spacing">
        <table class="center-block">
            <tr>
                <th>NEW &amp; Unmatched</th>
                <td>{{ attribute(list_counts, 'NEW & Unmatched') }}</td>
            </tr>
            {% for key, count in list_counts %}
            {% if key != 'Total' and key != 'NEW & Unmatched' %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ count }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <th>Total</th>
                <td>{{ list_counts.Total }}</td>
            </tr>
        </table>    
    </p>
</div>
