<div class="center-block">
    <p class="spacing">
        <table class="center-block">
            {% for key, count in list_counts %}
            {% if key != 'Total' %}
            <tr>
                <th>{{ key }}</th>
                <td class="right">{{ count }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <th>Total</th>
                <td class="right bold">{{ list_counts.Total }}</td>
            </tr>
        </table>    
    </p>
</div>
