        <tr class="white">
            <td colspan="7">&nbsp;</td>
        <tr>
        <tr class="white">
            <th colspan="7">{{ name }}</th>
        <tr>
        <tr class="grey">
            <th>Location</th>
            <th>Location Description</th>
            <th>Item Type</th>
            <th>Call Number</th>
            <th>Author</th>
            <th>Title</th>
            <th>Barcode</th>
        </tr>
