<p style="page-break-after: always;">&nbsp;</p>
<div class="center-block">
    <table class="center-block">
        <tr class="white">
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr class="white">
            <th class="title" colspan="5">{{ name }} {{ type }} Paging List for {{ today }}</th>
        </tr>
        <tr class="white">
            <th>Date:</th>
            <td>&nbsp;</td>
            <th>Searcher:</th>
            <th>Number Found:</th>
            <th>&nbsp;</th>
        </tr>
        <tr class="white">
            <th>Date:</th>
            <td>&nbsp;</td>
            <th>Searcher:</th>
            <th>Number Found:</th>
            <th>&nbsp;</th>
        </tr>
        <tr class="white">
            <td class="instructions" colspan="6">Please mark where you finish searching. Start from the beginning of the list.</td>
        </tr>
