<div class="center-block">
    <table class="center-block">
        <tr>
            <th colspan="7">&nbsp;</th>
        </tr>
        <tr>
            <th colspan="7">{{ name }} {{ type }} Paging List for {{ today }}</th>
        </tr>
        <tr>
            <th>Date:</th>
            <td>&nbsp;</td>
            <th>Searcher:</th>
            <td colspan="2">&nbsp;</td>
            <th>Number Found:</th>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Date:</th>
            <td>&nbsp;</td>
            <th>Searcher:</th>
            <td colspan="2">&nbsp;</td>
            <th>Number Found:</th>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Location</th>
            <th>Location Description</th>
            <th>Item Type</th>
            <th>Call Number</th>
            <th>Author</th>
            <th>Title</th>
            <th>Barcode</th>
        </tr>
