        </div>
        <footer>
            <p class="center-text footer">This application uses 
            <a href="https://github.com/multnomah-county-it/libilsws">LibILSWS</a> 
            to access SirsiDynix Symphony Web Services</p>
        </footer>
    </body>
</html>
