<h1 class="center-text">{{ name }} Paging Lists for {{ today }}</h1>
<p class="center-text list list-narrow">
    <a href="/index.php?page=list&code={{ code }}&type=title" alt="Title List">Title List</a><br>
    <a href="/index.php?page=list&code={{ code }}&type=item" alt="Item List">Item List</a>
</p>
