<h1 class="center-text">{{ name }} {{ type }} Paging List for {{ today }}</h1>

<table class="center-block">
    <tr>
        <th>Location</th>
        <th>Location Description</th>
        <th>Item Type</th>
        <th>Call Number</th>
        <th>Author</th>
        <th>Title</th>
        <th>Barcode</th>
    </tr>
